<a href="https://colab.research.google.com/github/Valeria379/Valeria-Morozova/blob/main/%D0%9B%D0%B0%D0%B1%D0%BE%D1%80%D0%B0%D1%82%D0%BE%D1%80%D0%BD%D0%B0%D1%8F_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_DS_%E2%84%961_%2201_ex_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Лабораторная работа к лекции 1
Ваше имя: Валерия Морозова

Ваш адрес электронной почты:Morozova-VA@mgpu.ru

## Упражнение 1.1. Типы данных и операции
1. Определите две переменные и присвойте первой целое число, а второй — число с плавающей запятой. Определите новую переменную и присвойте сумму двух предыдущих переменных. Каков тип данных третьей переменной?
2. Переназначьте переменную с другим типом данных, например, возьмите одну из числовых переменных и присвойте ей строку. Какой новый тип данных?
3. Посмотрите, что произойдет, если вы попытаетесь добавить строку к строке.
4. Посмотрите, что произойдет, если вы добавите строку к числу с плавающей запятой или целому числу.

In [ ]:
# пункт 1
a = 7
b = 14.6
c = (a + b)
print(type(c))

<class 'float'>

In [7]:
# пункт 2
a = "16"
print(type(a))

<class 'str'>

In [2]:
# пункт 3
str1 = "Hello"
str2 = " Kitty"
result = str1 + str2
print(result)

Hello Kitty

In [1]:
# пункт 4.1
d = 20
exp1 = d + str1
print(exp1)

NameError: name 'str1' is not defined

При сложении разных типов данных выводится ошибка, но ее можно исправить, изменив тип одного из слагаемых

In [ ]:
# пункт 4.2
exp2 = str2 + str(b)
print(exp2)

Kitty14.6

## Упражнение 1.2. Запуск программ

  * Создайте новый файл Python(или файл с расширением `.ipynb`) и используйте функцию `double_number` в качестве шаблона. Измените код, чтобы добавить два числа вместо удвоения одного числа.
  * Можете ли вы догадаться, что произойдет, если изменить отступ? Выполните данное действие.
  * Попробуйте, что произойдет, если вы напечатаете `a` в самом конце программы. Пояснить, что происходит?
 [Текст ссылки](https://)

In [3]:
def double_number(n):
  number = n*2
  return number

print(double_number(7))

14

In [5]:
def double_number2(k, l):
  number2 = k + l
  return number2

print(double_number2(13, 18))

31

In [10]:
  #изменим отступ
   def double_number2(k, l):
  number2 = k + l
  return number2

print(double_number2(13, 18))

IndentationError: unexpected indent (<ipython-input-10-4919c90c9652>, line 2)

Изменение отступа привело к ошибке синтаксиса (unexpected indent)

In [9]:
#напечатаем а в конце программы
print(a)

16

В результате выведено число, присвоенное в прошлом задании

## Упражнение 1.3. Создание ячеек, выполнение кода

1. Создайте новую ячейку кода ниже, где вы определите переменные, содержащие ваше имя, ваш возраст  и вашу специальность.
2. Создайте еще одну ячейку, использующую эти переменные, и выведите объединенную строку с указанием вашего имени, специальности и возраста в годах, месяцах и днях (при условии, что сегодня ваш день рождения). Вывод должен выглядеть так:

```
Имя: Кот-ученый, Специальность: Бизнес-Информатика, Возраст: 18 лет, или 216 месяцев, или 6480 дней..
```

In [ ]:
Name = "Валерия"
Specialization = "Бизнес-информатика"
Age = 20

In [ ]:
from datetime import datetime
today = datetime.now()
Birthday_date = today.replace(year=today.year - Age)
Days = (today - Birthday_date).days
Mounths = Days // 30
print(f"Имя: {Name}, Специальность: {Specialization}, Возраст: {Age} лет, или {Mounths} месяца, или {Days} дней")

Имя: Валерия, Специальность: Бизнес-информатика, Возраст: 20 лет, или 243 месяца, или 7305 дней

## Упражнение 1.4: Функции
Напишите функцию, которая
  * принимает две числовые переменные
  * умножает их друг на друга
  * делит их на числовую переменную, определенную в области видимости вне функции
  * и возвращает результат.

Выведите результат функции для трех разных наборов входных переменных.

In [2]:
def multiply_divide(a, b):
  m = 30
  result = (a * b)/m
  return result

In [4]:
print(multiply_divide(5, 60))

10.0

In [5]:
print(multiply_divide(9, 10))

3.0

In [6]:
print(multiply_divide(7, 11))

2.566666666666667

## Упражнение 1.5*

Есть некоторые данные о количестве книг, прочитанных разными людьми, работающими в книжном магазине Владимира. Создайте код Python, который учитывает каждого человека и выводит, сколько книг он прочитал. Если кто-то прочитал 0 книг, выведите «___ не читал ни одной книги!» вместо количества книг.

In [11]:
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]

Существует несколько способов решить эту задачу: можно изучить функцию `zip()`, использовать `enumerate()`, `range` и `len` или использовать другие методы. Чтобы напечатать имена и значения, вы можете использовать конкатенацию строк (+), форматирование f-строки или другие методы.

Функция **enumerate** используется для получения индекса текущего элемента в цикле.

Функция **range** генерирует ряд чисел в рамках заданного диапазона. Началом диапазона является число 0 (индекс первого элемента), а концом — индекс последнего элемента.

Функция **len** возвращает длину списка.
Функция **zip** () используется для совмещения двух и более списков в один. Она возвращает итератор кортежей, где i-ый кортеж содержит i-ый элемент из каждого из переданных списков.

In [12]:
for people, books_read in zip(people, books_read):
  if books_read == 0:
    print(f"{people} не читал ни одной книги!")
  else:
    print(f"{people} прочитал {books_read} книг")

Krishnang прочитал 12 книг
Steve прочитал 6 книг
Jimmy не читал ни одной книги!
Mary прочитал 7 книг
Divya прочитал 4 книг
Robert прочитал 10 книг
Yulia прочитал 15 книг

Преобразуйте только что созданный цикл в функцию, которая принимает два списка (прочитанные книги и людей) в качестве аргументов.

In [22]:
def function(people, books_read):
  for people, books_read in zip(people, books_read):
    if books_read == 0:
      print(f"{people} не читал ни одной книги!")
    else:
      print(f"{people} прочитал {books_read} книг")


function(people, books_read)

Krishnang прочитал 12 книг
Steve прочитал 6 книг
Jimmy не читал ни одной книги!
Mary прочитал 7 книг
Divya прочитал 4 книг
Robert прочитал 10 книг
Yulia прочитал 15 книг

Отсортируйте значения `books_read` от большего к меньшему и выведите трех первых людей с количеством прочитанных ими книг. Некоторые возможные способы решения этой задачи включают использование сортировки аргументов `NumPy`, создание словаря и создание кортежей.

In [23]:
import numpy as np

In [32]:
def function(people, books_read):
    book_sort = sorted(zip(people, books_read), reverse = True)
    for people, books_read in book_sort[:3]:
        print(f"{people} прочитал {books_read} книг")

function(people, books_read)

Yulia прочитал 15 книг
Steve прочитал 6 книг
Robert прочитал 10 книг